beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.0
numpy==1.15.4
psycopg2-binary==2.7.6.1
pushbullet.py==0.11.0
pyfcm==1.4.5
python-magic==0.4.15
requests==2.20.0
requests-toolbelt==0.8.0
schedule==0.5.0
six==1.11.0
SQLAlchemy==1.2.14
urllib3==1.24
websocket-client==0.53.0
Werkzeug==0.14.1
