<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>195402021245-cofif58r4j9n2ek9qfg8tj295vd4e08n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195402021245-cofif58r4j9n2ek9qfg8tj295vd4e08n</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-qNg8hYPdC-IRLbpj7H-ipZOska_Nw0</string>
	<key>GCM_SENDER_ID</key>
	<string>195402021245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonghelper.GomiClient</string>
	<key>PROJECT_ID</key>
	<string>gomi-26595</string>
	<key>STORAGE_BUCKET</key>
	<string>gomi-26595.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195402021245:ios:38f25192f373282c</string>
	<key>DATABASE_URL</key>
	<string>https://gomi-26595.firebaseio.com</string>
</dict>
</plist>